name: Provision Runner VM, Azure Kubernetes Infrastructure and Deploy API
on:
  # push:
  #   branches:
  #     - main
  workflow_dispatch:

jobs:
  build-backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current Github repository
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and load backend Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          load: true
          tags: kronos-backend:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Test backend container
        run: |
          docker run -d -p 5000:5000 --name backend-test kronos-backend:${{ github.sha }}

          sleep 5

          echo "Checking Health endpoint"
          curl --fail http://localhost:5000/health || (docker logs backend-test && exit 1)

          echo "Checking API endpoint"
          curl --fail http://localhost:5000/api/world-clocks || (docker logs backend-test && exit 1)

          docker stop backend-test
          docker rm backend-test
      - name: Push to Docker Hub
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: |
            victorthegreat7/kronos-backend:${{ github.sha }}
            victorthegreat7/kronos-backend:latest
          cache-from: type=gha

  build-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current Github repository
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and load backend Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          load: true
          tags: kronos-frontend:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Test frontend container
        run: |
          docker run -d -p 8080:80 --name frontend-test kronos-frontend:${{ github.sha }}

          sleep 5

          echo "Checking Health endpoint"
          curl --fail http://localhost:8080/health || (docker logs frontend-test && exit 1)

          docker stop frontend-test
          docker rm frontend-test
      - name: Push to Docker Hub
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: |
            victorthegreat7/kronos-frontend:${{ github.sha }}
            victorthegreat7/kronos-frontend:latest
          cache-from: type=gha

  provision-runner:
    needs: [build-backend, build-frontend]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current Github repository
        uses: actions/checkout@v4
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
      - name: Login to Microsoft Azure CLI
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Confirm/create Terraform Backend
        run: |
          chmod +x pre-apply.sh
          ./pre-apply.sh
        working-directory: ./terraform/bash_scripts
      - name: Cache Terraform Plugin Dir
        uses: actions/cache@v3
        with:
          path: ~/.terraform.d/plugin-cache
          key: terraform-plugin-cache-${{ runner.os }}-${{ hashFiles('terraform/.terraform.lock.hcl') }}
          restore-keys: |
            terraform-plugin-cache-${{ runner.os }}-
      - name: Apply Terraform configuration
        env:
          ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
          ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
          ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
          USER_OBJECT_ID: ${{ secrets.MY_USER_OBJECT_ID }}
          RUNNER_TOKEN: ${{ secrets.RUNNER_TOKEN }}
        run: |
          mkdir -p ~/.terraform.d/plugin-cache
          echo 'plugin_cache_dir   = "$HOME/.terraform.d/plugin-cache"' > ~/.terraformrc

          terraform init
          terraform validate

          cat <<EOF > terraform.tfvars.json
          {
            "my_user_object_id": "$USER_OBJECT_ID",
            "github_runner_token": "$RUNNER_TOKEN"
          }
          EOF

          terraform apply --auto-approve
        working-directory: ./terraform

      - name: Wait for VM to be ready
        run: |
          echo "Waiting for runner VM to be ready..."
          sleep 280

  build:
    needs: provision-runner
    runs-on: self-hosted
    steps:
    - name: Checkout current Github repository
      uses: actions/checkout@v4
    - name: Move /deploy contents to /terraform
      run: |
        mv deploy/* .
      working-directory: ./terraform
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
    - name: Login to Microsoft Azure CLI
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    - name: Confirm/create Terraform Backend
      run: |
        chmod +x pre-apply.sh
        ./pre-apply.sh
      working-directory: ./terraform/bash_scripts
    - name: Cache Terraform Plugin Dir
      uses: actions/cache@v3
      with:
        path: ~/.terraform.d/plugin-cache
        key: terraform-plugin-cache-${{ runner.os }}-${{ hashFiles('terraform/.terraform.lock.hcl') }}
        restore-keys: |
          terraform-plugin-cache-${{ runner.os }}-
    - name: Apply Terraform configuration
      env:
        ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
        ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
        ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
        ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
        USER_OBJECT_ID: ${{ secrets.MY_USER_OBJECT_ID }}
      run: |
        mkdir -p ~/.terraform.d/plugin-cache
        echo 'plugin_cache_dir   = "$HOME/.terraform.d/plugin-cache"' > ~/.terraformrc

        terraform init
        terraform validate

        cat <<EOF > terraform.tfvars.json
        {
          "my_user_object_id": "$USER_OBJECT_ID",
          "github_runner_token": "$RUNNER_TOKEN"
        }
        EOF

        terraform apply --auto-approve
      working-directory: ./terraform
