name: Subsequent Builds and Deployments

on:
  # push:
  #   branches:
  #     - main
  workflow_dispatch:

jobs:
  changes:
    runs-on: ubuntu-latest
    # Record file state
    outputs:
      backend: ${{ steps.filter.outputs.backend }}
      frontend: ${{ steps.filter.outputs.frontend }}
      terraform: ${{ steps.filter.outputs.terraform }}
    steps:
      - name: Checkout current Github repository
        uses: actions/checkout@v4
      - name: Detect changed paths
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            backend:
              - 'backend/**'
            frontend:
              - 'frontend/**'
            terraform:
              - 'terraform/**'

  # Runs ONLY if backend/ folder changed
  build-backend:
    needs: changes
    if: ${{ needs.changes.outputs.backend == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current Github repository
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and load backend Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          load: true
          tags: kronos-backend:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Test backend container
        run: |
          docker run -d -p 5000:5000 --name backend-test kronos-backend:${{ github.sha }}

          sleep 5

          echo "Checking Health endpoint"
          curl --fail http://localhost:5000/health || (docker logs backend-test && exit 1)

          echo "Checking API endpoint"
          curl --fail http://localhost:5000/api/world-clocks || (docker logs backend-test && exit 1)

          docker stop backend-test
          docker rm backend-test
      - name: Push to Docker Hub
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: |
            victorthegreat7/kronos-backend:${{ github.sha }}
            victorthegreat7/kronos-backend:latest
          cache-from: type=gha

  # Runs ONLY if frontend/ folder changed
  build-frontend:
    needs: changes
    if: ${{ needs.changes.outputs.frontend == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current Github repository
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and load backend Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          load: true
          tags: kronos-frontend:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Test frontend container
        run: |
          docker run -d -p 8080:80 --name frontend-test kronos-frontend:${{ github.sha }}

          sleep 5

          echo "Checking Health endpoint"
          curl --fail http://localhost:8080/health || (docker logs frontend-test && exit 1)

          docker stop frontend-test
          docker rm frontend-test
      - name: Push to Docker Hub
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: |
            victorthegreat7/kronos-frontend:${{ github.sha }}
            victorthegreat7/kronos-frontend:latest
          cache-from: type=gha

  # Runs ONLY if terraform/ folder changed
  modify-infra:
    needs: [changes]
    if: ${{ needs.changes.outputs.terraform == 'true' }}
    runs-on: self-hosted
    steps:
      - name: Checkout current Github repository
        uses: actions/checkout@v4
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
      - name: Move /deploy contents to /terraform
        run: |
          mv deploy/* .
        working-directory: ./terraform
      - name: Login to Microsoft Azure CLI
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Confirm/create Terraform Backend
        run: |
          chmod +x pre-apply.sh
          ./pre-apply.sh
        working-directory: ./terraform/bash_scripts
      - name: Cache Terraform Plugin Dir
        uses: actions/cache@v3
        with:
          path: ~/.terraform.d/plugin-cache
          key: terraform-plugin-cache-${{ runner.os }}-${{ hashFiles('terraform/.terraform.lock.hcl') }}
          restore-keys: |
            terraform-plugin-cache-${{ runner.os }}-
      - name: Apply Terraform configuration
        env:
          ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
          ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
          ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
          USER_OBJECT_ID: ${{ secrets.MY_USER_OBJECT_ID }}
        run: |
          mkdir -p ~/.terraform.d/plugin-cache
          echo 'plugin_cache_dir   = "$HOME/.terraform.d/plugin-cache"' > ~/.terraformrc

          terraform init
          terraform providers
          terraform validate

          cat <<EOF > terraform.tfvars.json
          {
            "my_user_object_id": "$USER_OBJECT_ID",
            "github_runner_token": "$RUNNER_TOKEN"
          }
          EOF
          
          terraform apply --auto-approve
        working-directory: ./terraform

  # Runs if either terraform/ did not change and backend/ or frontend/ changed
  update-aks-backend-images:
    needs: [changes, build-backend, modify-infra]
    if: ${{ always() && (needs.modify-infra.result == 'skipped' || needs.modify-infra.result == 'success') && (needs.build-backend.result == 'success') }}
    runs-on: self-hosted
    steps:
      - name: Checkout current Github repository
        uses: actions/checkout@v4
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false
      - name: Login to Microsoft Azure CLI
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Move /deploy contents to /terraform
        run: |
          mv deploy/* .
        working-directory: ./terraform
      - name: Cache Terraform Plugin Dir
        uses: actions/cache@v3
        with:
          path: ~/.terraform.d/plugin-cache
          key: terraform-plugin-cache-${{ runner.os }}-${{ hashFiles('terraform/.terraform.lock.hcl') }}
          restore-keys: |
            terraform-plugin-cache-${{ runner.os }}-
      - name: Initialize Terraform (to load state)
        run: |
          mkdir -p ~/.terraform.d/plugin-cache
          echo 'plugin_cache_dir   = "$HOME/.terraform.d/plugin-cache"' > ~/.terraformrc

          terraform init
        working-directory: ./terraform

      - name: Get AKS Credentials from Terraform Output
        id: aks-info
        working-directory: ./terraform
        run: |
          # Extract values from Terraform state
          AKS_NAME=$(terraform output -raw aks_cluster_name)
          AKS_RG=$(terraform output -raw aks_resource_group)
          
          echo "Found Cluster: $AKS_NAME in RG: $AKS_RG"
          
          # Get credentials using the dynamic names
          az aks get-credentials --resource-group $AKS_RG --name $AKS_NAME --overwrite-existing

          # Use kubelogin plugin for authentication
          kubelogin convert-kubeconfig -l azurecli
      - name: Update Image in AKS
        run: |
          kubectl set image deployment/kronos-backend backend=victorthegreat7/kronos-backend:latest -n time-api

  update-aks-frontend-image:
    needs: [changes, build-frontend, modify-infra]
    if: ${{ always() && (needs.modify-infra.result == 'skipped' || needs.modify-infra.result == 'success') && (needs.build-frontend.result == 'success') }}
    runs-on: self-hosted
    steps:
      - name: Checkout current Github repository
        uses: actions/checkout@v4
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false
      - name: Login to Microsoft Azure CLI
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Move /deploy contents to /terraform
        run: |
          mv deploy/* .
        working-directory: ./terraform
      - name: Cache Terraform Plugin Dir
        uses: actions/cache@v3
        with:
          path: ~/.terraform.d/plugin-cache
          key: terraform-plugin-cache-${{ runner.os }}-${{ hashFiles('terraform/.terraform.lock.hcl') }}
          restore-keys: |
            terraform-plugin-cache-${{ runner.os }}-
      - name: Initialize Terraform (to load state)
        run: |
          mkdir -p ~/.terraform.d/plugin-cache
          echo 'plugin_cache_dir   = "$HOME/.terraform.d/plugin-cache"' > ~/.terraformrc

          terraform init
        working-directory: ./terraform

      - name: Get AKS Credentials from Terraform Output
        id: aks-info
        working-directory: ./terraform
        run: |
          # Extract values from Terraform state
          AKS_NAME=$(terraform output -raw aks_cluster_name)
          AKS_RG=$(terraform output -raw aks_resource_group)
          
          echo "Found Cluster: $AKS_NAME in RG: $AKS_RG"
          
          # Get credentials using the dynamic names
          az aks get-credentials --resource-group $AKS_RG --name $AKS_NAME --overwrite-existing

          # Use kubelogin plugin for authentication
          kubelogin convert-kubeconfig -l azurecli
      - name: Update Image in AKS
        run: |
          kubectl set image deployment/kronos-frontend frontend=victorthegreat7/kronos-frontend:latest -n time-api