name: Subsequent Builds and Deployments

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted

    steps:

    # Checkout the repository on the runner
    - name: Checkout current Github repository
      uses: actions/checkout@v4

    # Build, test, and push Docker image
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # Backend image
    - name: Build backend Docker image
      run: |
        docker build -t world-clock-backend:${{ github.sha }} -t world-clock-backend:latest .
      working-directory: ./backend

    - name: Test backend container
      run: |
        docker run -d -p 5000:5000 --name backend-test world-clock-backend:${{ github.sha }}
        sleep 5
        curl --fail http://localhost:5000/health || (docker logs backend-test && exit 1)
        curl --fail http://localhost:5000/api/world-clocks || (docker logs backend-test && exit 1)
        docker stop backend-test

    - name: Push backend Docker image
      run: |
        docker tag world-clock-backend:${{ github.sha }} victorthegreat7/world-clock-backend:${{ github.sha }}
        docker tag world-clock-backend:${{ github.sha }} victorthegreat7/world-clock-backend:latest
        docker push victorthegreat7/world-clock-backend:${{ github.sha }}
        docker push victorthegreat7/world-clock-backend:latest

    # Frontend image
    - name: Build frontend Docker image
      run: |
        docker build -t world-clock-frontend:${{ github.sha }} -t world-clock-frontend:latest .
      working-directory: ./frontend

    - name: Test frontend container
      run: |
        docker run -d -p 8080:80 --name frontend-test world-clock-frontend:${{ github.sha }}
        sleep 5
        curl --fail http://localhost:8080/health || (docker logs frontend-test && exit 1)
        docker stop frontend-test

    - name: Push frontend Docker image
      run: |
        docker tag world-clock-frontend:${{ github.sha }} victorthegreat7/world-clock-frontend:${{ github.sha }}
        docker tag world-clock-frontend:${{ github.sha }} victorthegreat7/world-clock-frontend:latest
        docker push victorthegreat7/world-clock-frontend:${{ github.sha }}
        docker push victorthegreat7/world-clock-frontend:latest

    - name: Move /deploy contents to /terraform
      run: |
        mv deploy/* .
      working-directory: ./terraform

    # Provision cloud infrastructure and deploy microservice to provisioned infrastructure
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Login to Microsoft Azure CLI
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Confirm/create Terraform Backend
      run: |
        chmod +x pre-apply.sh
        ./pre-apply.sh
      working-directory: ./terraform/bash_scripts

    # Deploy microservice to provisioned infrastructure
    - name: Initialize and validate Terraform configuration
      env:
        ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
        ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
        ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
        ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
      run: terraform init && terraform validate
      working-directory: ./terraform

    - name: Apply Terraform configuration
      env:
        ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
        ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
        ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
        ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
        USER_OBJECT_ID: ${{ secrets.MY_USER_OBJECT_ID }}
      run: |
        cat <<EOF > terraform.tfvars.json
        {
          "my_user_object_id": "$USER_OBJECT_ID",
          "github_runner_token": "$RUNNER_TOKEN"
        }
        EOF
        
        terraform apply --auto-approve
      working-directory: ./terraform
